$folder-background: #616368;
$folder-titles: #FDFDFD;

$rightNum-background: #404247;
$rightNum-hover: #3E5706;

$hover-background: #94BB3F;
$hover-titles: #3E5706;

$list-text: #797979;
$list-background: #E5E5E5;

$border-color: #C9C9C9;
